<div class="footer-message">
  <div class="container">
    <div class="wrapper">
      <h1>DoSomething.org is a global movement for good.</h1>
      <a href="https://www.dosomething.org/us/about/who-we-are" class="do-something-button">Learn More</a>
    </div>
  </div>
</div>
{{#if showSponsors}}
  <section class="container container--sponsors">
    <div class="wrapper">
      <div class="container__block">
        <h4>Sponsors</h4>
        <ul>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/logo-aero.png?itok=g8ZmRfLG" title="Aéropostale">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/Channel_One_News_logo_%28introduced_2013%29.png?itok=FqWLURKL" title="Channel One News">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/Toyota-1.png?itok=IW35OISW" title="Toyota"></li><li><img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/JetBlue_grayscale.png?itok=rbWVAtsm" title="JetBlue_gray">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/MentorUp.png?itok=5vGMe2hf" title="Mentor Up">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/HM-1.png?itok=MjBu3a0-" title="H&amp;M">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/Logo_Google_2013_Official.svg_.png?itok=bP2DpBpo" title="Google">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/3M%20logo%20%281%29.png?itok=XX4L1qU0" title="3M">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/gray%20%281%29.png?itok=dSugLuVw" title="UNHCR">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/800px-Coca-Cola_logo.svg%202.png?itok=AXj6OEe4" title="Coke">
          </li>
          <li>
            <img src="https://www.dosomething.org/sites/default/files/styles/partner_homepage_image/public/partners/truth%20logo%20orange-no%20bg.png?itok=lnEZMlz8" title="truth">
          </li>
        </ul>
      </div>
    </div>
  </section>
{{/if}}
<footer class="footer">
  <div class="footer__columns">

    <div class="footer__column -social">
      <ul>
      <li>
      <a href="https://www.facebook.com/dosomething" class="social-icon -facebook" title="dosomething on Facebook"><span>dosomething on Facebook</span></a>    </li>
      <li>
      <a href="https://twitter.com/dosomething" class="social-icon -twitter" title="@dosomething on Twitter"><span>@dosomething on Twitter</span></a>    </li>
      <li>
      <a href="http://dosomething.tumblr.com/" class="social-icon -tumblr" title="@dosomething on Tumblr"><span>@dosomething on Tumblr</span></a>    </li>
      <li>
      <a href="http://instagram.com/dosomething" class="social-icon -instagram" title="@dosomething on Instagram"><span>@dosomething on Instagram</span></a>    </li>
      <li>
      <a href="http://www.youtube.com/user/DoSomething1" class="social-icon -youtube" title="dosomething1 on YouTube"><span>dosomething1 on YouTube</span></a>    </li>
  </ul>

    </div>

          <div class="footer__column -links">
        <h4 class="js-toggle-collapsed is-collapsed is-toggleable">Who We Are</h4>
                  <ul>
                          <li><a href="/us/about/who-we-are">What is DoSomething.org?</a></li>
                          <li><a href="/us/about/our-people">Our Team</a></li>
                          <li><a href="/us/about/sexy-financials">Sexy Financials</a></li>
                          <li><a href="http://xyzfactor.org/">XYZ Factor</a></li>
                          <li><a href="https://mobileapp.dosomething.org/">Mobile App</a></li>
                          <li><a href="https://blog.dosomething.org/">Blog</a></li>
                      </ul>
              </div>
          <div class="footer__column -links">
        <h4 class="js-toggle-collapsed is-collapsed is-toggleable">Our Friends</h4>
                  <ul>
                          <li><a href="http://www.tmiagency.org">TMI Agency</a></li>
                          <li><a href="/us/about/our-partners">Partners</a></li>
                          <li><a href="/us/about/old-people">Old People</a></li>
                          <li><a href="/us/about/hotline-list">Crisis Hotlines</a></li>
                      </ul>
              </div>
          <div class="footer__column -links">
        <h4 class="js-toggle-collapsed is-collapsed is-toggleable">Get Involved</h4>
                  <ul>
                          <li><a href="/us/about/easy-scholarships">Scholarships</a></li>
                          <li><a href="/us/about/were-hiring">Jobs</a></li>
                          <li><a href="/us/about/internships">Internships</a></li>
                          <li><a href="/us/about/donate-pretty-please">Donate</a></li>
                          <li><a href="https://help.dosomething.org/hc/en-us">Help Center</a></li>
                      </ul>
              </div>
      </div>

  <div class="footer__subfooter">
    <ul>
      <li><a href="/us/about/terms-service">Terms of Service</a></li>
      <li><a href="/us/about/privacy-policy">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
