{{> floatingnav}}
<main role="main">

  <div class="tile-wrapper">

    <div class="diagonal-tile_wrapper" >
      <div class="diagonal-tile" style="background-image: url('https://i.ytimg.com/vi/UIrEM_9qvZU/maxresdefault.jpg')">
        <div class="diagonal-tile_container">
          <h1>Yo!</h1>
        </div>
      </div>
    </div>

    <div class="diagonal-tile_wrapper" >
      <div class="diagonal-tile" style="background-image: url('https://i.ytimg.com/vi/UIrEM_9qvZU/maxresdefault.jpg')">
        <div class="diagonal-tile_container">
          <h1>Yo!</h1>
        </div>
      </div>
    </div>

    <div class="diagonal-tile_wrapper" >
      <div class="diagonal-tile" style="background-image: url('https://i.ytimg.com/vi/UIrEM_9qvZU/maxresdefault.jpg')">
        <div class="diagonal-tile_container">
          <h1>Yo!</h1>
        </div>
      </div>
    </div>

  </div>

  <div class="content-wrapper">
    {{> footer}}
  </div>
</main>
